# Directorios de compilación
/_build/
/deps/
/cover/
/doc/

# Archivos del editor y entorno
/.elixir_ls/
/.vscode/
/.idea/

# Archivos temporales
*.log
*.tmp
*.swp
*~

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de respaldo
*.backup
*.bak